In [4]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler

In [5]:
# Load data
data = pd.read_csv('NVDA.csv')
data

          Date    Open    High     Low   Close      Volume
0   04/18/2024  849.70  861.90  824.02  846.71  44,726,031
1   04/17/2024  883.40  887.75  839.50  840.35  49,539,953
2   04/16/2024  864.33  881.18  860.64  874.15  37,045,301
3   04/15/2024  890.98  906.13  859.29  860.01  44,307,699
4   04/12/2024  896.99  901.75  875.30  881.86  42,680,480
5   04/11/2024  874.20  907.39  869.26  906.16  43,163,727
6   04/10/2024  839.26  874.00  837.09  870.39  43,192,848
7   04/09/2024  874.42  876.35  830.22  853.54  50,354,738
8   04/08/2024  887.00  888.30  867.32  871.33  28,322,000
9   04/05/2024  868.66  884.81  859.26  880.08  39,967,848
10  04/04/2024  904.06  906.34  858.80  859.05  43,496,488
11  04/03/2024  884.84  903.74  884.00  889.64  37,006,660
12  04/02/2024  884.48  900.94  876.20  894.52  43,306,359
13  04/01/2024  902.99  922.25  892.04  903.63  45,244,152
14  03/28/2024  900.00  913.00  891.93  903.56  43,521,230
15  03/27/2024  931.12  932.40  891.23  902.50  58,606,719
16  03/26/2024  958.51  963.75  925.02  925.61  51,364,762
17  03/25/2024  939.41  967.66  935.10  950.02  55,213,609
18  03/22/2024  911.41  947.78  908.34  942.89  58,671,941
19  03/21/2024  923.00  926.48  904.05  914.35  48,037,230
20  03/20/2024  897.97  904.10  882.23  903.72  47,906,281
21  03/19/2024  867.00  905.44  850.10  893.98  67,217,125

In [ ]:

# Preprocess data
# ... (e.g., convert to datetime, handle missing values)

# Normalize data
scaler = MinMaxScaler()
scaled_data = scaler.fit_transform(data)

# Split data into features and target
X = scaled_data[:, :-1]  # Features
y = scaled_data[:, -1]   # Target

# Split data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)